<h1>Make a new contact!</h1>
<form method="post" action="/contacts">
  <div>
    First Name: <input type="text" name="first_name" />
  </div>
  <div>
    Middle Name: <input type="text" name="middle_name" />
  </div>
  <div>
    Last Name: <input type="text" name="last_name" />
  </div>
  <div>
    Bio: <input type="text" name="bio" />
  </div>
  <div>
    E-Mail: <input type="text" name="email" />
  </div>
  <div>
    Phone_Number: <input type="text" name="phone_number" />
  </div>
  <input type="submit" value="Create contact" />
</form>