<!DOCTYPE html>
<html>
  <head>
    <title>Contacts App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <a href="/contacts">All Contacts</a>
  <a href="/contacts/new">Create A New Contact</a>
  
  <body style="background-color: #cff1ef;">
    <%= yield %>
  </body>
</html>
